<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title>Carter's Page - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="alternate"
              type="application/rss+xml"
              title="Carter's Page"
              href="/rss.xml" />
                
      <link rel="icon" type="image/png" href="static/mu64.png"/>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18046259-2']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>   
      
      <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {  processEscapes: true
        }
      });
      </script>
      
      <script type="text/javascript"
 src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
      </script>
   </head>
   
   
     
<body>
       <h1>Carter Schonwald - $title$</h1>
        <div id="navigation">
            <a href="/index.html">Home</a>
            <a href="/research.html">Research</a>
            <a href="/projects.html">Projects</a>
            <a href="/code.html">Code</a>
            <a href="/posts.html">Blog Post Index</a>
        </div>

        $body$
    </body>        
        <div id="footer">     If you want to read more,  <a href="/feed.xml">Subscribe to the rss feed</a>  </div>
  

</html>    
   <!-- 
   for now disable disqus
   <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'carterstheory'; // required: replace example with your forum shortname

        // The following are highly recommended additional parameters. Remove the slashes in front to use.
        var disqus_identifier = '$title';
        var disqus_url = 'http://www.cstheory.net/$url';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a> -->

